.App {
  text-align: center;
}

.App-logo {
  /* height: 25vmin; */
  pointer-events: none;
}

.focus:hover {
  transform: scale(5, 5);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s ease;
  }
  .scale {
    animation: tile-logo-float infinite 10s ease;
  }
  .floating {
    animation: floating infinite 5s ease;
  }
}

h1 {
  text-shadow: 2px 2px 5px black;
}

.App-header {
  background: -webkit-radial-gradient(circle,#299020,#075800);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table {
  background: blue;
  width: 1500px;
  height: 500px;
  color: white;
}

.tile {
  width: 256px;
  height: 246px;
  border-radius: 3vmin;
  background-color: #ffffe6;
  box-shadow: 1px 1px 2px black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes tile-logo-float {
  0%{
    transform: scale(1, 1);
  }
  50%{
    transform: scale(1.05, 1.05);
  }
  100%{
    transform: scale(1, 1);
  }
}

@keyframes floating {
  from{ 
    transform: translate(0,  0px); 
  }
  65%{
    transform: translate(0, 7px);
  }
  to{
    transform: translate(0, -0px); 
  }    
}