.App {
  text-align: center;
}

.App-logo {
  /* height: 25vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background: -webkit-radial-gradient(circle,#299020,#075800);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.table {
  background: blue;
  width: 1500px;
  height: 500px;
  /* align-items: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.tile {
  width: 256px;
  height: 246px;
  border-radius: 3vmin;
  background-color: #ffffe6;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
